body.accueil{
    background-image:url("../../img/Fond Accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 812px;
    background-position: center;

}

body .fleche img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: center;
    bottom: 0;
}

.logo{
    padding-top: 25px;
    z-index: 2;
    position: fixed;
}

.articles h1{
    text-align: center;
    margin: 0;
    padding-top: 75px;
}

.fond_1{
    background-image: url("../../img/fond_1.png");
    margin: 0;
    height: 391px;
    background-repeat: no-repeat;
}

.fond_2{
    background-image: url("../../img/Article_pollution_fond.jpg");
    margin: 0;
    height: 391px;
    background-repeat: no-repeat;
}

.fond_3{
    background-image: url("../../img/Icone solution.jpg");
    margin: 0;
    height: 391px;
    background-repeat: no-repeat;
}

.fond_4{
    background-image: url("../../img/header_a_propos.jpg");
    margin: 0;
    height: 391px;
    background-repeat: no-repeat;
}

.fond_5{
    background-image: url("../../img/fond article segonnire.png");
    margin: 0;
    height: 391px;
    background-repeat: no-repeat;
}

.articles{
    margin: 0;
}
.articles .logo{
    margin-left: 30px;
}

.chapo{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    position: absolute;
    background-color: white;
    top: 325px;
}
.chapo p{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    box-shadow: #777 0 15px 20px -8px;
}

article h2:first-child {
    margin-top: 115px;
}

article h2{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
}

article p{
    padding-left: 20px;
    padding-right: 20px;
}
.couleur, .couleur_2{
    background-color: #0C2430;
    margin: 0;
}

footer{
    background-color: #010D00;
    margin-bottom: -20px;
}
footer h2{
    font-family: "Red Hat Display", bold;
    color: white;
}
.fa-facebook-square, .fa-instagram, .fa-twitter, .mmi{
    font-size: 38px;
    color: white;
}
.mmi img{
    position: relative;
    top: 20px;
}

footer i{
    padding-right: 5px;
    padding-left: 5px;
}
footer h2{
    text-align: center;
    padding-right: 5px;
}

footer p{
    color: white;
    text-align: center;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.reseaux{
    text-align: center;
}

.couleur_2 img:last-of-type{
    margin-bottom: -5px;
    padding-top: 25px;
}

.img_a_propos{
    margin-top: 120px;
}

.formulaire p{
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.formulaire h2{
    text-align: center;
}
.formulaire input{
    margin-left: 27px;
    border-radius: 20px;
    border: none;
    box-shadow: #777 0 15px 20px -8px;
    height: 30px;
    width: 240px;
}

.formulaire input:last-child{
    height: 100px;
    margin-bottom: 30px;
}

.bouton{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #16364E;
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-shadow: #777 0 15px 20px -8px;

}
.bouton p{
    color: white;
    display: block;
    text-align: center;
    padding-top: 15px;
}

.autres_projet img{
    width: 50%;
}

.autres_projet li{
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
}

.autres_projet ul{
    margin-top: 100px;
    padding-left: 0;
}

.couleur_3, .couleur_3_1{
    background-color: #0C2430;
}

.couleur_3 h2{
    color: white;
    padding: 10px;
    text-align: center;
}
.couleur_3 p, .couleur_3_1{
    color: white;
}
.triangles{
    margin-top: -20px;
}

.couleur_3_1 p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.titre_page_sup h2{
    text-align: center;
}