body.accueil{
    background-image:url("../../img/Fond Accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 812px;
    background-position: center;

}

body .fleche img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: center;
    bottom: 0;
}

.logo{
padding-top: 25px;
}

.articles h1{
    text-align: center;
    margin: 0;
}

.fond_1{
    background-image: url("../../img/fond_1.png");
    margin: 0;
    height: 391px;
    background-repeat: no-repeat;
}

.fond_2{
    background-image: url("../../img/Article_pollution_fond.jpg");
    margin: 0;
    height: 391px;
    background-repeat: no-repeat;
}

.articles{
    margin: 0;
}
.articles .logo{
    margin-left: 30px;
}

.chapo{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    position: absolute;
    background-color: white;
    top: 325px;
}
.chapo p{
    padding-left: 5px;
    padding-right: 5px;
}

article h2:first-child {
    margin-top: 100px;
}

article h2{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
}

article p{
    padding-left: 10px;
    padding-right: 10px;
}
.couleur{
    background-color: #0C2430;
    margin: 0;
}

footer{
    background-color: #010D00;
    margin-bottom: -20px;
}
footer h2{
    font-family: "Red Hat Display", bold;
    color: white;
}
.fa-facebook-square, .fa-instagram, .fa-twitter, .mmi{
    font-size: 38px;
    color: white;
}
.mmi img{
    position: relative;
    top: 20px;
}

footer i{
    padding-right: 5px;
    padding-left: 5px;
}
footer h2{
    text-align: center;
    padding-right: 5px;
}

footer p{
    color: white;
    text-align: center;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.reseaux{
    text-align: center;
}